@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 62,5%;
  box-sizing: border-box; }

html,
body {
  max-width: 100%;
  overflow-x: hidden; }

/* para evitar aparezca sector blanco al lado derecho */
body {
  background-color: #d6e2f0;
  /* .attribution{
        font-family: $mainFont;
        font-size: 11px;
        text-align: center;
        a{
            color: $superLightBlue;
        }
    } */ }
  body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    body .container .card {
      background-color: white;
      text-align: center;
      width: 82vw;
      border-radius: 1rem;
      max-width: 302px;
      min-width: 302px; }
      body .container .card img {
        width: 72vw;
        margin: 1rem;
        border-radius: 0.8rem;
        max-width: 270px;
        min-width: 270px; }
      body .container .card .text .titulo {
        font-family: Outfit, sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        color: #1f3251;
        margin-bottom: 1rem; }
      body .container .card .text p {
        font-family: Outfit, sans-serif;
        font-size: 1rem;
        color: #7b879d;
        margin: 2rem; }
