body{
    background-color: $lightGrey;
    
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;   
        .card{
            background-color: $white;
            text-align: center;
            width: 82vw;
            border-radius: 1rem;
            max-width: 302px;
            min-width: 302px;
            
            img{
                width: 72vw;
                margin: 1rem;
                border-radius: 0.8rem;
                max-width: 270px;
                min-width: 270px;
            }
            .text{
                .titulo{
                    font-family: $mainFont;
                    font-size: 1.5rem;
                    font-weight: $boldFont;
                    color: $blue;
                    margin-bottom: 1rem;
                }
                p{
                    font-family: $mainFont;
                    font-size: $sizeParagraph;
                    color: $lightBlue;
                    margin: 2rem;
                }
            }
        }
    }
    /* .attribution{
        font-family: $mainFont;
        font-size: 11px;
        text-align: center;
        a{
            color: $superLightBlue;
        }
    } */
}